body{
    padding: 0px;
    margin: 0px;
    font-family: cursive;

}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;

}
.timer{
    background-color: aquamarine;
    width: 400px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;

}
.person{
    display: flex;
    justify-content: space-between;
}
.p1{
    margin-right: 20px;
    text-align: center;
}
.p2{
    margin-left: 20px;
    text-align: center;
}
